.idea/misc.xml
.idea/untitled.iml
.idea/workspace.xml
.idea/*
1926/*
192*
2000
19*
parsed*
parsed/*
workspace*
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
